nav{
    background-color: rgb(233, 153, 212);
    padding: 7px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}
main{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}
a{
    margin-left: 10px;
}
body{
    padding: 0;
    margin: 0;
}
.card{
    border: 1px solid #ffb5fe;
    border-radius: 10px;
    width: calc(30%);
    text-align: center;
    margin: 10px;
}
.image_card{
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
}
footer{
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

